{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>{{ book.title }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="detail-container">

        <a href="/" class="back-btn">⬅ Back</a>

        <div class="detail-card">

            <div class="detail-image">

                <img src="{{ book.image.url }}">

            </div>

            <div class="detail-content">

                <h1 class="detail-title">
                    {{ book.title }}
                </h1>

                <p class="detail-info">

                    <strong>Author:</strong>

                    {{ book.author }}

                </p>

                <p class="detail-info">

                    <strong>Category:</strong>

                    {{ book.category }}

                </p>

                <p class="detail-info">

                    <strong>Description:</strong>

                    {{ book.description }}

                </p>

                <p class="detail-info stock-text">

                    <strong>Stock:</strong>

                    {% if book.stock > 0 %}

                    {{ book.stock }} Books Available

                    {% else %}

                    Out of Stock

                    {% endif %}

                </p>

                <div class="detail-buttons">

                    {% if book.stock > 0 %}

                    <a href="{% url 'issue_book' book.id %}" class="borrow-btn">

                        Borrow Book

                    </a>

                    {% else %}

                    <button class="borrow-btn" disabled>

                        Out of Stock

                    </button>

                    {% endif %}

                    <a href="{% url 'add_to_wishlist' book.id %}" class="details-btn">

                        Add to Wishlist

                    </a>

                    <body>

                        <a href="/" class="back-btn">

                            ⬅ Back

                        </a>

                        <div class="books-container">

                        </div>

                </div>

            </div>

        </div>

</body>

</html>